.bordered {
    border: 3px dashed red;
    height: 100%;
    padding: 20px 0;
}

.bordered1 {
    border: 1px solid black;
    background-color: red;
    text-align: center;
}

.bordered2 {
    border: 1px solid black;
    background-color: cornflowerblue;
}

.folio_card {
    border: 1px solid black;
    background-color: gray;
    text-align: center;
}